.btn-primary:focus,
.btn-primary:active {

}

@media print
{    
    .no-print
    {
        display: none !important;
    }
}

.print-notes {
  font-size: 10pt;  
}
.print-title {
    font-size: 16pt;
    padding-bottom: 20px;
}

.print-subject {
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: LightGray;
}
.print-header {
    font-size: 14pt;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: DarkGray;
}

.taskrow {
    border-style: solid;
    border-width: 1px;
    border-color: LightGray;
    margin: 0px;
}

.print-field {
    font-size: 12pt;
}


.taskfield {
    width: 100%;
    font-size: 12px;
}
.tasktable {
    padding: 5px;
}

.tasknotes {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 3px;
    border-width: 1px;
    border-color: LightGray;
    font-size: 12px;
}

.tasknote {
    border-style: solid;
    border-width: 1px;
    border-color: LightGray;
}